/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    height: 50px;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.menu {
    display: flex;
    gap: 30px;
    font-size: 15px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #005f99;
    transition: color 0.3s;
}

.menu a:hover {
    color: #003d66;
}

/* LOGIN BUTTON */
.login-btn {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    width: 100%;
    background-image: url("aero3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-start; /* move from center */
    padding-top: 55vh;       /* CONTROL POSITION HERE */
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 30px;
    border-radius: 10px;
    text-align: center;
}


/* SEARCH CONTAINER */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    position: relative;
    z-index: 10;
}

.search-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 850px;
}

/* INPUTS */
.search-box select,
.search-box input {
    width: 300px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 15px;
}

/* ROWS */
.options-row,
.location-row,
.date-row {
    display: flex;
    gap: 15px;
}

/* BUTTON */
.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}

.explore-btn {
    width: 200px;
    padding: 12px 24px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.explore-btn:hover {
    background-color: #050a4e;
    transform: scale(1.05);
}

/* FLIGHT ROUTES */
.flight-routes {
    text-align: center;
    padding: 50px 20px;
    background: #f9fbff;
}

.flight-routes h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #222;
}

.routes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.route-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.route-card:hover {
    transform: translateY(-5px);
}

.route-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
}

.route-card p {
    margin: 10px 0 5px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.route-card .code {
    font-size: 14px;
    color: #008cff;
    font-weight: bold;
}

/* WHY BOOK */
.why-book {
    text-align: center;
    padding: 50px 20px;
    background: #ffffff;
}

.why-book h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.feature {
    background: #ffffff;
    padding: 25px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.features h3 {
    color: #222;
}

.features p {
    color: #666;
}

/* FOOTER */
.site-footer {
    padding: 50px 20px;
    background-color: #f7f9fc;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.options-bar {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.option-item a {
    text-decoration: none;
    color: #444;
    font-size: 16px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 17px;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}
