body {
  font-family: Arial, sans-serif;
  background: #eef6ff;
}

.container {
  width: 700px;
  margin: 30px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #1e88e5;
}

fieldset {
  border: 1px solid #cce0ff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

legend {
  color: #1e88e5;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, textarea {
  width: 98%;
  padding: 8px;
  margin-top: 4px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1e88e5;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1565c0;
}


.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

/* For full width fields */
.form-group.full {
  grid-column: span 2;
}

/* Radio & checkbox alignment */
.options {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.options label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

/* Better textarea look */
textarea {
  resize: none;
}

.selected-flight {
  background: #e3f2fd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border-left: 5px solid #1e88e5;
}
